@use 'variables';

.caja {
    h2{
        color: variables.$color-letra;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p{
        color: rgb(16, 50, 50);
    }
}